<div class="h-screen text-gray-800" id="main">
  <div class="flex flex-col items-center justify-center h-full">
    <p class="mb-20">
      Right now in
      <span class="font-bold">{{ weatherData.name }}</span
      >, it's mostly {{ weatherData.weather[0].main }}
    </p>

    <div
      class="flex md:flex-row flex-col items-center justify-evenly md:w-2/3 w-11/12"
    >
      <div class="rounded-full bg-orange-400 md:mb-0 mb-10">
        <img
          src="https://openweathermap.org/img/wn/{{
            weatherData.weather[0].icon
          }}@2x.png"
          alt=""
        />
      </div>

      <div class="flex flex-col items-center justify-center md:mb-0 mb-10">
        <p class="text-7xl font-bold leading-10 mb-8">
          {{ weatherData.main.temp }} &deg;
        </p>

        <p>
          {{ weatherData.main.temp_min }} &deg; /
          {{ weatherData.main.temp_max }} &deg;
        </p>
      </div>

      <div class="flex md:flex-col justify-center items-start">
        <div class="flex items-center justify-center md:mb-5 md:mr-0 mr-3">
          <span class="material-symbols-outlined md:mr-3 mr-1"> speed </span>
          <p>{{ weatherData.main.pressure }} hPa</p>
        </div>

        <div class="flex items-center justify-center md:mb-5 md:mr-0 mr-3">
          <span class="material-symbols-outlined md:mr-3 mr-1">
            humidity_low
          </span>
          <p>{{ weatherData.main.humidity }} %</p>
        </div>

        <div class="flex items-center justify-center md:mb-5 md:mr-0 mr-3">
          <span class="material-symbols-outlined md:mr-3 mr-1"> air </span>
          <p>{{ weatherData.wind.speed }} m/s</p>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-evenly w-2/3 mt-20">
      <div class="flex items-center justify-center">
        <img src="../assets/sunrise.png" alt="" class="h-10 mr-3" />

        <div>
          <p class="font-bold">Sunrise</p>
          <p>{{ weatherData.sys.sunrise * 1000 | date : "shortTime" }}</p>
        </div>
      </div>

      <div class="flex items-center justify-center">
        <img src="../assets/sunset.png" alt="" class="h-10 mr-3" />

        <div>
          <p class="font-bold">Sunset</p>
          <p>{{ weatherData.sys.sunset * 1000 | date : "shortTime" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
